html,
body {
   background: var(--primary-background);
   margin: 0;
   padding: 0;
   text-align: center;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.calculator {
   margin: 0 auto;
   position: relative;
   display: inline-block;
   text-align: left;
}

.calculator > img {
   max-height: 100vh;
   max-width: 100%;
   display: block;
}

.calculator iframe,
#iframe-cover {
   position: absolute;
   top: 8.5%;
   left: 16.25%;
   width: 67.5%;
   height: 26.3%;
   border: none;
}

#keyboard {
   position: absolute;
   top: 38.5%;
   left: 10%;
   width: 81%;
   bottom: 5%;
}

#keyboard span {
   cursor: pointer;
   border-radius: 40%;
   display: block;
   float: left;
}

#keyboard span:hover {
   background-color: rgba(0, 0, 0, 0.1);
}

#keyboard span:active {
   background-color: rgba(0, 0, 0, 0.2);
}

#keyboard .nav {
   position: absolute;
   top: 0;
   height: 27%;
   width: 100%;
}

#keyboard .nav span {
   position: absolute;
}

#keyboard .nav .left {
   top: 37%;
   left: 2%;
   width: 15%;
   height: 28%;
}

#keyboard .nav .right {
   top: 37%;
   left: 17%;
   width: 15%;
   height: 28%;
}

#keyboard .nav .top {
   top: 9%;
   left: 12%;
   width: 10%;
   height: 40%;
}

#keyboard .nav .bottom {
   top: 53%;
   left: 12%;
   width: 10%;
   height: 40%;
}

#keyboard .nav .home {
   top: 15%;
   left: 41%;
   width: 16.5%;
   height: 31%;
}

#keyboard .nav .power {
   top: 55.4%;
   left: 41%;
   width: 16.5%;
   height: 31%;
}

#keyboard .nav .ok {
   top: 31%;
   left: 67%;
   width: 13.5%;
   height: 38%;
   border-radius: 48%;
}

#keyboard .nav .back {
   top: 31%;
   left: 83.3%;
   width: 13.5%;
   height: 38%;
   border-radius: 48%;
}

#keyboard .functions {
   position: absolute;
   top: 26.75%;
   left: 0.5%;
   width: 98%;
}

#keyboard .functions span {
   margin: 1.7% 1%;
   width: 14.65%;
   height: 0;
   padding-top: 10%;
}

#keyboard .digits {
   position: absolute;
   top: 56.5%;
   left: 0.5%;
   width: 98%;
}

#keyboard .digits span {
   margin: 1.8% 2%;
   width: 16%;
   height: 0;
   padding-top: 11.3%;
}
